/* Блок Банер */
.banner {
  min-height: 540px;
  background-color: #eaeaea;
  overflow: hidden;
  padding-bottom: 10px;
}

.banner__wrap {
  display: block;
  position: relative;
}

.banner__counter {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;

  @media (min-width: $md) {
    position: absolute;
    top: 0;
    right: 320px;
    z-index: 2;
  }
}

.banner__img {
  display: block;
  position: relative;
  margin: auto;
  max-width: 472px;
  height: 315px;
  background-image: url("../img/girl.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $md) {
    position: absolute;
    top: 0;
    left: -180px;
    max-width: 809px;
    width: 809px;
    height: 539px;
    background-image: url("../img/girldesktop.png");
  }

  @media (min-width: $lg ) {
    left: 0px;
  }
}

.banner__zoom {
  position: absolute;
  top: 40px;
  right: 28px;
}

@media (max-width: 450px) {
  .banner .banner__zoom {
    width: 150px;
    height: 150px;
    right: 8px;
  }
}

@media (min-width: $md) {
  .banner .banner__zoom {
    top: 160px;
    right: 173px
  }
}

.banner__discount {
  margin: auto;
  margin-top: -126px;

  @media (min-width: $md) {
    position: absolute;
    top: 300px;
    right: 320px;
    z-index: 2;
  }
}

.banner__form {
  margin: 20px auto;

  @media (min-width: $md) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
