mixin banner()
  //блок Банер
  section.banner
    .container
      .row.banner__wrap
        +counter("banner__counter")
        .banner__img
          +zoom('banner__zoom')
        +discount('banner__discount')
        +form("banner__form")
