.button {
  width: 292px;
  height: 60px;
  border-radius: 30px;
  background-color: #4db24d;
  background-image: linear-gradient(to bottom, #54e604 0%, #248d16 100%);
  color: $light;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(to bottom, #ffde00 0%, #ff6600 100%);
  }
}
