/* Шрифт Arsenal */
@font-face {
    font-family: 'Arsenal-Bold';
    src: url('../fonts/Arsenal-Bold.woff2') format('woff2'),
        url('../fonts/Arsenal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Regular.woff2') format('woff2'),
        url('../fonts/Arsenal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


