/*! Глобальные стили */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Arsenal", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $text;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-family: 'Arsenal-Bold';
  font-weight: 700;
}


/* Контейнер и ряд для построения адаптивной сетки */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (max-width: $xs) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $sm) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $md) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Класс для отображения иконки чекбокса рядом с текстом */
.checkbox-icon {
  &:before {
    content: url("../img/checkbox.svg");
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 30px;
    height: 26px;
  }
}


