/* Цвета текста */
$light: #ffffff;
$text: #444444;
$ad: #ec1c23;

/* Основные цвета страницы */
$primary: #77af51;
$light: #ffffff;

/* Точки переключения адаптивной сетки */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;