.counter {
  width: 320px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  border: 5px solid $light;
  background-color: #77af51;
}

.counter__text {
  color: $light;
  font-weight: 400;
}

.counter__digits-wrap {
  display: flex;
  justify-content: space-between;
  width: 262px;
  margin-top: 8px;
}

.counter__digit {
  width: 50px;
  height: 50px;
  box-shadow: inset 3px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #c0bfc3;
  background-color: $light;

  p {
    font-size: 14px;
    line-height: 0.7;
    font-weight: normal;
    color: $text;
  }
}

.counter__time {
  font-size: 30px;
  display: block;
  text-align: center;
}

.counter__time--days {
  font-family: "Arsenal-Bold";
  color: $ad;
}

