mixin counter(className='')
  .counter(class= className)
    p.counter__text #[strong Внимание!] До конца акции осталось:
    .counter__digits-wrap#counter(data-time="2019/07/10 00:00:00")
      .counter__digit
        time.counter__time.counter__time--days 25
        p дней
      .counter__digit
        time.counter__time 18
        p часов
      .counter__digit
        time.counter__time 37
        p минут
      .counter__digit
        time.counter__time 49
        p секунд