.zoom {
  width: 207px;
  height: 207px;
  border-radius: 50%;
  border: 10px solid $ad;
  background-image: url("../img/ear.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}