.discount {
  width: 340px;
  height: 264px;
}

.discount__img-wrap {
  position: relative;
}

.discount__img {
  object-fit: cover;
}

.discount__new-price {
  position: absolute;
  top: 128px;
  left: 39px;
  max-width: 120px;
  color: $light;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.8;
  text-align: left;

  strong {
    font-size: 60px;
    margin-left: -2px;
    padding-right: 2px;
    line-height: 1;
  }

  span {
    font-size: 40px;
  }
}

.discoutn__discount {
  position: absolute;
  top: 72px;
  right: 40px;
  max-width: 170px;
  font-family: 'Arsenal-Bold';
  font-size: 75px;
  font-weight: 600;
  color: #fff;
}

.discount__old-price {
  position: absolute;
  font-family: 'Arsenal-Bold';
  top: 154px;
  right: 44px;
  max-width: 96px;
  line-height: 0.9;
  font-weight: 700;
  color: $ad;

  strong {
    margin-left: 3px;
    font-size: 38px;
    text-decoration: line-through;
  }
}
