mixin discount(className='')
  .discount(class= className)
    .discount__img-wrap
      img.discount__img(src="./img/discount.png", alt="discount image")
      p.discount__new-price новая цена #[strong 560]#[span &#8381;]
      p.discoutn__discount -90%
      p.discount__old-price старая цена #[strong 5 600]