include ./banner/banner.pug
include ./button/button.pug
include ./counter/counter.pug
include ./discount/discount.pug
include ./form/form.pug
include ./header/header.pug
include ./product/product.pug
include ./svgicon/svgicon.pug
include ./zoom/zoom.pug
