//- Подключение блоков
include ./blocks/includeblocks.pug
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content= meta.description)
    meta(name="author", content= meta.author)
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= meta.title
    //favicons
    link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
    link(rel="manifest", href="/favicons/site.webmanifest")
    link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/favicons/favicon.ico")
    //шрифты
    link(rel="preload", href="./fonts/Arsenal-Bold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/Arsenal-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/Arsenal-Regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/Arsenal-Regular.woff2", as="font", crossorigin="anonymous")
    //стили
    link(rel="stylesheet", href="./css/main.min.css")
  body
    +header
    +banner
    +product
    script(src="./js/main.js")
