/* Шапка страницы */
.header {
  position: relative;
  min-height: 142px;
  padding-top: 33px;
  padding-bottom: 33px;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;

  @media (min-width: $md) {
    padding-top: 41px;
    padding-bottom: 24px;
  }
}
.header__heading {
  margin: 0 auto;
  max-width: 293px;
  text-align: center;
  font-family: "Arsenal-Bold";
  font-weight: 700;
  font-size: 30px;
  color: $ad;

  span {
    font-family: "Arsenal";
    font-weight: 400;
  }

  @media (min-width: $md) {
    max-width: 914px;
    font-size: 36px;
  }
}

.header__upper-case {
  text-transform: uppercase;
}

.header-line-through {
  text-decoration: line-through;
}
