mixin header()
  //шапка страницы
  header.header
    .container
      h1.header__heading.
        Анализ состава массы тела
        #[span.header__upper-case бесплатно]#[br]
        #[span и] установка
        #[span лечебной] серьги для похудения
        #[span за]
        #[span.header-line-through 5600] 560 &#8381;