.form {
  width: 320px;
  min-height: 480px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0 50px;
  border: 7px solid $light;
  background-color: #b9b2ce;
  background-image: linear-gradient(to bottom, #ffde00 0%, #ff6600 100%);
}

.form__text {
  padding-top: 20px;
  line-height: 1.2;
  font-family: "Arsenal-Bold";
  font-weight: 700;

  strong {
    text-transform: uppercase;
    color: $ad;
  }

  span {
    color: $ad;
  }
}

.form__group {
  margin-bottom: 12px;
}

.form__field {
  width: 100%;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  box-shadow: inset 3px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid #c0bfc3;
  background-color: $light;

  &::placeholder {
    color: #999999;
  }
}

.form__label {
  display: block;
  text-align: left;
  font-size: 16px;
}

.form__inputs-wrap {
  min-width: 290px;
  display: flex;
  justify-content: space-between;

  .form__group + .form__group {
    padding-left: 15px;
  }
}

.form__button {
  margin-top: 5px;
}
