mixin form(className='')
  .form(class= className)
    p.form__text.
      Запишитесь на #[strong бесплатный] #[span анализ состава массы тела] и установите лечебную #[span серьгу для похудения за 560 ₽]
    form.form__form
      .form__group
              label.form__label(for="name")  Ваше имя
              input.form__field(type="text" id="name" name="name"  placeholder="Алла" required)
      .form__group
              label.form__label(for="phone") Ваш телефон
              input.form__field(type="tel" id="phone" name="phone"  placeholder="8 800 123 45 67" required)
      .form__inputs-wrap
        .form__group
              label.form__label(for="height") Ваш рост
              input.form__field(type="number" id="height" name="height"  placeholder="165" required)
        .form__group
              label.form__label(for="weight") Ваш вес
              input.form__field(type="number" id="weight" name="weight"  placeholder="65" required)
        .form__group
              label.form__label(for="age") Ваш возраст
              input.form__field(type="number" id="age" name="age"  placeholder="28" required)
      +button('form__button')
  