.product__wrap {
  display: block;
  max-width: 810px;
  margin: auto;

  @media (min-width: $md) {
    display: flex;
  }
}

.product {
  min-height: 300px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: $light;

  @media (min-width: $md) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.product__img {
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.product__text {
  max-width: 280px;
  margin: auto;
  text-align: left;

  @media (min-width: $md) {
    max-width: 480px;
  }
}

.product__heading {
  width: 100%;
  text-align: left;
  font-family: "Arsenal-Bold";
  font-size: 24px;
  font-weight: 700;
  color: $primary;

  @media (min-width: $md) {
    display: inline;
  }
}

.product__description {
  text-align: left;

  @media (min-width: $md) {
    display: inline;
  }
}

.product__feature {
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 26px;
  padding-left: 40px;
}
