mixin product
  //Блок продукт, описание товара
  section.product
    .container
      .row.product__wrap
        img.product__img(src="./img/product.jpg", alt="product")
        .product__text
          h5.product__heading  Серьга для похудения
          p.product__description активно раздражает энергетические точки и #[strong вызывает в организме рефлекторную реакцию, необходимую для потери веса.]
          p.product__feature.checkbox-icon #[strong Сделана из медицинского сплава] и покрыта слоем золота.
          p.product__feature.checkbox-icon #[strong Срок ношения] серьги подбирается специалистом #[strong индивидуально.]
          p.product__feature.checkbox-icon Потеря веса #[strong до 10 кг в месяц.]
